:root {
  --translation-bg: rgba(248, 248, 248, 0.8);
  --translation-text: #1d1d1f;
  --btn-radius: 10px;
  --btn-padding: 3px 12px;
  --btn-hover-scale: 1.03;
  --read-text: #333;
  --btn-bg: white;
  --btn-border: 1px solid rgb(211, 211, 211);
  --btn-hover-bg: rgb(243, 243, 243);
  --border-color: rgb(224, 224, 224);
  --close-bg: transparent;
  --close-text: #333;
  --box-shadow: rgba(0, 0, 0, 0);
  --btn-border-color: rgb(117, 8, 8);
  --source-text: rgb(158, 158, 158);
  --disabled-btn: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --translation-bg: rgb(50, 51, 48);
    --translation-text: #f5f5f7;
    --read-text: #fff;
    --btn-hover-bg: rgb(77, 77, 77);
    --btn-bg: rgb(88, 88, 88);
    --btn-border: none;
    --border-color: rgb(117, 117, 117);
    --close-bg: transparent;
    --close-text: #e5e5ea;
    --box-shadow: rgba(255, 255, 255, 0.06);
    --btn-border-color: rgb(73, 73, 73);
    --source-text: rgb(182, 182, 182);
    --disabled-btn: rgba(36, 36, 36, 0);
  }
  body {
    background-color: #222;
  }
}

.translation-result {
  background-color: var(--translation-bg);
  color: var(--translation-text);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  box-shadow: 0 4px 12px var(--box-shadow);
  border: 1px solid var(--border-color);
}

.translate-source {
  font-size: 14px;
  color: var(--source-text);
  margin-bottom: 10px;
}

.translation-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

/* 通用按鈕 */
.translation-toggle-source-btn,
.translation-read-btn,
.translation-readSource-btn,
.translation-close-btn,
.translation-audioPlay-btn,
.translation-audioPause-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  transition: all 0.2s ease;
  border: var(--btn-border);
  background-color: var(--btn-bg);
  color: var(--read-text);
  user-select: none;
}
.status-text {
  display: none;
  cursor: auto;
}
.translation-toggle-source-btn:focus,
.translation-read-btn:focus,
.translation-readSource-btn:focus,
.translation-close-btn:focus {
  outline: none;
}

.translation-toggle-source-btn:hover,
.translation-read-btn:hover,
.translation-readSource-btn:hover,
.translation-close-btn:hover,
.translation-audioPlay-btn:hover,
.translation-audioPause-btn:hover {
  background-color: var(--btn-hover-bg);
  transform: scale(var(--btn-hover-scale));
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.translation-toggle-source-btn .icon-button,
.translation-read-btn .icon-button,
.translation-close-btn .icon-button,
.translation-readSource-btn .icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0084ff;
  padding: 2px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  width: 20px; /* 放大圓圈 */
  height: 20px; /* 放大圓圈 */
  fill: currentcolor;
}

.translation-close-btn .icon-button {
  background-color: #ff4d4f;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--disabled-btn);
  color: #666;
}
