:root {
  --primary: #6c5ce7;
  --primary-dark: #5649c0;
  --secondary: #00cec9;
  --dark-bg: #1a1a2e;
  --dark-card: #16213e;
  --dark-text: #e6e6e6;
  --dark-text-secondary: rgb(245, 245, 245);
  --accent: #ff7675;
  --input-border: rgb(139, 139, 139);
}

.popup-container {
  width: 100%;
  max-width: 380px;
  width: 300px;
  background-color: var(--dark-card);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
